<div class='app'>
  <h1>This is users list</h1>
  <a href="../../" class='btn'>Home</a>


  <div class='user-container'>
    <% @users.each do |user| %> 
    <img src= "<%= user.photo %>" alt="User Profile"/>
    <div class='user-info'>
      <h3><%= link_to "#{user.name}", "#{users_path}/#{user.id}" %></h3>
      <p>Number of posts: <%= user.posts_counter %> </p>
    </div>
    <% end %>
  </div>
</div>