<h1>Pages blog_app</h1>
<p>Find me in app/views/pages/blog_app.html.erb</p>
<h1>Blog App</h1>
<a href="/users">Users</a>
<a href="./users/1">Users_details</a>
<a href="./users/1/posts">Posts</a>
<a href="./users/1/posts/1">Posts_details</a>
