/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display&family=Poppins:wght@200;300;400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
  border: none;
  color: #df0d37;
  font-size: 1.5rem;
  padding: 0.1rem 1rem;
  font-weight: 500;
  align-items: center;
  border-radius: 20px;
}

a:hover {
  background: rgba(245, 245, 245, 0.473);
  color: rgba(10, 10, 10, 0.829);
  border-radius: 20px;
  box-shadow: 2px 2px 2px #0290ff, -2px -2px 2px #b20a2c;
}

.alert,
.notice {
  text-align: center;
  width: max-content;
  font-size: 1.3rem;
  background: rgba(245, 245, 245, 0.473);
  color: #7c0c22;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #0290ff, -2px -2px 2px #b20a2c;
  margin-top: 10px;
  margin-left: 3%;
  font-weight: 500;
}

h2 {
  margin-bottom: 2%;
  font-size: 30px;
  font-weight: 600;
}

.field {
  background: #df0d37;
  color: wheat;
  padding: 15px 145px;
  font-size: 20px;
}

.field input {
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  padding: 12px 55px;
  border: none;
}

.actions input,
button[type=submit] {
  background-color: #df0d37;
  border: none;
  color: wheat;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
  align-items: center;
  border-radius: 20px;
  margin-left: 80%;
  margin-top: 3%;
  box-shadow: 3px 6px 3px rgb(223, 213, 187), -2px -2px 2px  peru;
}

button[type=submit] {
  width: 200px;
  margin-left: 10%;
}

.forget input {
  background-color: #df0d37;
  border: none;
  color: wheat;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
  align-items: center;
  border-radius: 20px;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 3px 6px 3px rgb(223, 213, 187), -2px -2px 2px  peru;
}

.btn {
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
  align-items: center;
}

.btn:hover {
  background: rgba(245, 245, 245, 0.473);
  color: rgba(10, 10, 10, 0.829);
  border-radius: 20px;
  box-shadow: 2px 2px 2px #0290ff, -2px -2px 2px #b20a2c;
}

.app {
  background-image: linear-gradient(to left, #fffbd5, #b20a2c);
  width: 92%;
  height: auto;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  box-shadow: 2px 4px 5px darkgrey, -2px -4px 5px darkgrey;
  padding: 1.2rem;
}

.user-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 3rem;
  margin: 1% 4%;
  gap: 40px;
}

.user-container img {
  width: 15%;
  margin-right: 6%;
  margin-left: 4%;
  border-radius: 50%;
  margin-top: -2.5%;
}

.user-info {
  background: peru;
  width: 60%;
  padding: 1rem;
  height: 10vh;
}

.user-info h3 {
  color: #b20a2c;
  font-size: 1.9rem;
  font-weight: 700;
}

.user-info p {
  background: rgb(219, 163, 10);
  text-align: end;
  font-size: 1.2rem;
  font-weight: 500;
}

.user-bio-container {
  width: 90%;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 3rem;
  margin: 1% 4%;
}

.user-bio-container h3,
.user-posts .title {
  color: #220208;
  font-size: 1.9rem;
  font-weight: 700;
}

.user-bio-container p,
.user-posts .text {
  color: #0c0808;
  font-size: 1.5rem;
  font-weight: 700;
}

.user-posts {
  width: 90%;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 3rem;
  margin: 1% 4%;
}

.user-posts .text,
.user-posts .title,
.posts .title,
.posts .text {
  font-weight: 500;
}

.user-posts .comment-like,
.posts .comment-like {
  text-align: end;
}

.post-comments {
  display: flex;
  justify-content: space-between;
}

.post-comments p span {
  color: #330910;
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 1%;
}

.user-posts .comment-like span,
.posts .comment-like span {
  padding-right: 2.5%;
  font-size: 1.2rem;
  font-weight: 500;
}

.user-posts .comment-like span:hover,
.posts .comment-like span:hover {
  color: #b20a2c8e;
}

.posts,
.post-comments {
  width: 95%;
  border-radius: 4px;
  border: 1px solid #b20a2c;
  padding: 1rem;
  margin: 1% 0.2%;
}

.post-comments p span.comment-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0809;
}

.post-comments button {
  width: 250px;
  margin-right: 20px;
}

.create-post {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.create-post .btn {
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(219, 163, 10), -2px -2px 2px  peru;
}

.create-post .btn:hover {
  background: rgba(245, 245, 245, 0.473);
  color: rgba(10, 10, 10, 0.829);
  border-radius: 20px;
  box-shadow: 2px 2px 2px #0290ff, -2px -2px 2px #b20a2c;
}

.create-post-container,
.create-comment-container {
  display: flex;
  justify-content: center;
  background: #b20a2cab;
  margin-top: 2%;
}

.create-post-container form,
.create-comment-container form {
  display: flex;
  flex-direction: column;
  padding: 25px 145px;
}

.create-post-container form input[type=text] {
  color: rgba(10, 10, 10, 0.829);
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  padding: 12px 35px;
  border: none;
}

.create-post-container form input[type=submit],
.create-comment-container form input[type=submit] {
  background: #df0d37;
  color: wheat;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #fbfbfc, -2px -2px 2px #fcfafb;
  padding: 12px 0;
  font-size: 20px;
  width: 50%;
}

.create-post-container form label,
.create-comment-container form label {
  color: wheat;
  font-size: 20px;
}

.create-comment-container form input[type=submit] {
  width: 100%;
}

.create-post form input[type=submit] {
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(219, 163, 10), -2px -2px 2px  peru;
}

.create-comment-container form textarea {
  color: rgba(10, 10, 10, 0.829);
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  padding: 12px 65px;
  border: none;
  height: 150px;
  background-color: #f8f8f8;
  resize: none;
}

.cancel {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 100%;
  gap: 20px;
}

.cancel button {
  width: 300px;
}

.cancel a {
  margin-left: 10%;
}
